:root {
  --primaryPink: #fb2e86;
  --primaryGreen: #08d15f;
  --primaryFontFamilyLato: "lato";
  --primaryFontFamilyJosefin: "Josefin Sans";
}
.btn {
  border: none;
  color: white;
  padding: 16px 40px;
  font-family: var(--primaryFontFamilyLato);
  border-radius: 2px;
  outline: none;
}

.fooshi {
  background-color: var(--primaryPink);
}
.green {
  background-color: var(--primaryGreen);
}
.white {
  color: white;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.gray {
  color: #8a8fb9;
}
.fontsize-16 {
  font-family: var(--primaryFontFamilyLato);
  font-size: 16px;
}
/*مسؤول عن انه يفرغ مساحة عن الاطراف، 
and using margin make them in the center*/
.container {
  width: calc(100% - 320px);
  margin: auto;
}

body {
  font-family: var(--primaryFontFamilyLato);
}
.header {
  padding: 57px 0;
}
/*ulيجيب النافباراللي جوا ال
  على خط مستقيم جنب بعض مع مسافات بينهم وفوقهم وباستخدام   flex-wrap: wrap;
بلتزموا بال
width الخاص فيهم*/
.header ul {
  display: flex;
  gap: 36px;
  padding: 10px;
  flex-wrap: wrap;
}

.header {
  border: none;
  outline: none;
}
/*عملت حدود مناسبة للinput & button*/
.search {
  border: 1px solid #e7e6ef;
  border-radius: 2px;
  border-radius: 3px;
}
/*صح انا عندي بار بس ما بدي استخدمه حاليا ولا بدي اظهرو!*/
.header .bar {
  display: none;
  outline: none;
}
@media screen and (max-width: 1140px) {
  .list,
  .header .search {
    display: none;
  }
  .header .bar {
    display: block;
    width: 30px;
  }
}
.list a {
  color: #0d0e43;
}
.list-item .active {
  color: #fb2e86;
}
/*  input & button تعديلات ال */
.search button {
  border: none;
  outline: none;
  padding: 8px 13px;
  background-color: var(--primaryPink);
}
.search input {
  border: none;
  outline: none;
  width: 200px;
  padding-left: 5px;
}

/*  end of header  */

/*  start Clients  */

.clients .row {
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: auto;
}
.clients .logo {
  width: calc((100% - 60px) / 5);
}
.clients img {
  width: 200px;
}
@media screen and (max-width: 1050px) {
  .clients .logo {
    width: calc((100% - 45px) / 4);
  }
}
@media screen and (max-width: 900px) {
  .clients .logo {
    width: calc((100% - 30px) / 3);
  }
}
@media screen and (max-width: 720px) {
  .clients .logo {
    width: calc((100% - 15px) / 2);
  }
}
@media screen and (max-width: 520px) {
  .clients .logo {
    width: 100%;
  }
}
/*  end Clients  */

/*  start of footer  */
.footer {
  background-color: #eeeffb;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-direction {
  flex-direction: column;
}
.ju-space-between {
  justify-content: space-between;
}
.left-ch {
  width: fit-content;
}
.footer .left-side {
  gap: 30px;
  align-items: flex-start;
  width: 40%;
}
.footer .right-side {
  gap: 30px;
  width: 60%;
}
address {
  color: #8a8fb9;
  font-size: 16px;
  font-family: var(--primaryFontFamilyLato);
}
.footer-item ul li a {
  font-family: var(--primaryFontFamilyLato);
  color: #8a8fb9;
  font-size: 16px;
  display: flex;
  padding-bottom: 23px;
}
.footer-item h2 {
  padding-bottom: 46px;
  font-size: 22px;
  font-family: var(--primaryFontFamilyLato);
}
@media screen and (max-width: 1070px) {
  .container {
    width: calc(100% - 200px);
  }
  .footer .left-side,
  .footer .right-side {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 720px) {
  .container {
    width: calc(100% - 70px);
  }
}
@media screen and (max-width: 520px) {
  .container {
    width: calc(100% - 40px);
  }
}

/*  end of footer  */
