:root {
  --primaryPink: #fb2e86;
  --primaryGreen: #08d15f;
  --primaryFontFamilyLato: "lato";
  --primaryFontFamilyJosefin: "Josefin Sans";
}
.btn {
  border: none;
  color: white;
  padding: 16px 40px;
  font-family: var(--primaryFontFamilyLato);
  border-radius: 2px;
  outline: none;
}

.fooshi {
  background-color: var(--primaryPink);
}
.green {
  background-color: var(--primaryGreen);
}
.white{
    color: white;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gray{
    color: #8A8FB9;
}
.fontsize-16{
    font-family: var(--primaryFontFamilyLato);
    font-size: 16px;
}
/*مسؤول عن انه يفرغ مساحة عن الاطراف، 
and using margin make them in the center*/
.container {
  width: calc(100% - 320px);
  margin: auto;
}

body {
  font-family: var(--primaryFontFamilyLato);
}
.header {
  padding: 57px 0;
}
/*ulيجيب النافباراللي جوا ال
  على خط مستقيم جنب بعض مع مسافات بينهم وفوقهم وباستخدام   flex-wrap: wrap;
بلتزموا بال
width الخاص فيهم*/
.header ul {
  display: flex;
  gap: 36px;
  padding: 10px;
  flex-wrap: wrap;
}

.header  {
  border: none;
  outline: none;
}
/*عملت حدود مناسبة للinput & button*/
.search {
  border: 1px solid #e7e6ef;
  border-radius: 3px;
}
/*صح انا عندي بار بس ما بدي استخدمه حاليا ولا بدي اظهرو!*/
.header .bar {
  display: none;
  outline: none;
}
@media screen and (max-width: 1140px) {
  .list,
  .search {
    display: none;
  }
  .header .bar {
    display: block;
    width: 30px;
  }
}
.list a{
    color: #0D0E43;
}
.list-item .active {
    color: #fb2e86;
}
/*  input & button تعديلات ال */
.search button{
    border: none;
    outline: none;
    padding: 8px 13px;
    background-color: var(--primaryPink);
}
.search input{
    border: none;
    outline: none;
    width: 200px;
    padding-left: 5px;
}
/*  end of header  */

/*  start of footer  */
.footer{
    background-color: #EEEFFB;
    font-size: 16px;
    align-items: center;
}
.d-flex{
    display: flex;
}
.flex-direction{
    flex-direction: column;
}
.footer .left-side{
    gap: 23px;
    align-items: flex-start;
}
address{
    color:#8A8FB9;
    font-size: 16px;
    font-family: var(--primaryFontFamilyLato);
}
.footer-item ul li a{
    font-family: var(--primaryFontFamilyLato);
    color: #8A8FB9;
    font-size: 16px;
    display: flex;
    padding-bottom: 23px;
}
.footer-item h2{
    padding-bottom: 46px;
    font-size: 22px;
    font-family: var(--primaryFontFamilyLato);
}

.right-side .row{
    gap: 60px;
}
/*  end of footer  */